<div id="header-page" class="header-page">
  <div class="header-container">
    <div class="header-logo-container">
      <div class="header-logo header-oval">
        <div class="header-triangle"></div>
      </div>
      <div class="header-logo-text">VIDEO COURSE</div>
    </div>
    <div class="header-authorization">
      <button id="header-authorization-button-login" class="user-login-btn">
        <i class="fa fa-user" aria-hidden="true"></i>
        User login
      </button>
      <button id="header-authorization-button-log-out" class="user-login-btn">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        Log out
      </button>
    </div>
  </div>
</div>
