@import 'src/styles/main.scss';

.course-lists {  
  &-no-data {
    padding: 15px;
    background-color: $bgWhiteColor;
    text-align: center;
    border: 1px solid $borderColorLightGrey;
    margin: 10px 0;
  }
}