<div *ngIf="courseLists?.length; else noDataAboutCourseList">
  <course-card
    *ngFor="let course of courseLists; trackBy: trackByFunc"
    [coursePlate]="course?.date"
    [ngClass]="{topCourse: course?.isTopRated}"
    [course]="course"
    (delete)="onDeleteCourse($event)"
  >
  </course-card>
  <div class="course-lists-load-more"><a (click)="onLoadMore()">{{ 'courseListPage.loadMore' | translate }}
  </a></div>
</div>

<ng-template #noDataAboutCourseList>
  <div class="course-lists-no-data">
    {{ 'courseListPage.noData' | translate }}
  </div>
</ng-template>
