@import 'src/styles/main.scss';

:host {
  @include page-size;
}

.new-course-page {
  &-main {
    background: map-get($app-primary-bg-palette, greyColor);
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.breadcrumbs-text {
  display: block;
  max-width: 1280px;
  margin: 0 auto;
  padding-right: 7px;
  text-decoration: none;
  font-size: 14px;
  color: black;
  
  a {
    text-decoration: none;
    color: black;
  }
}