<app-header>
  <login-buttons></login-buttons>
</app-header>
<section class="new-course-page-main">
  <breadcrumbs>
    <span class="breadcrumbs-text"><a routerLink="/courses">{{ 'newCoursePage.courses' | translate }}</a><b class="breadcrumbs-bold">{{ (course$ | async)?.name || "New Course" }}</b></span>
  </breadcrumbs>
  <div class="new-course-page-container">
    <new-course-forms
      *ngIf="course$ | async as course"
      [course]="course"
      [authorsList]="authors$ | async"
      (emitSubmit)="createNewCourse($event)"
      (emitCancel)="onCancel()"
    >
    </new-course-forms>
  </div>
</section>

<spinner *ngIf="isLoading"></spinner>