@import 'src/styles/main.scss';

.course-search {
  &-container {
    margin: 20px 0;
  }
}

.search-input {
  border-radius: 3px;
  border: 1px solid $borderColorSearchInput;
  background: $bgWhiteColor;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  margin-right: 15px;
  padding: 8px;
}
