@import "../../../styles/main.scss";

.course-search {
  &-container {
    margin: 20px 0;
  }
}

.search-input {
  border-radius: 3px;
  border: 1px solid $borderColorSearchInput;
  background: $bgWhiteColor;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  margin-right: 15px;
  padding: 8px;
}

.search-button {
  border-radius: 3px;
  background: $bgGreenBtnColor;
  padding: 1px 15px;
  border: 0;
  color: map-get($app-primary-text, whiteColor);
  line-height: 30px;
  letter-spacing: -0.08px;
  font-size: 14px;
  font-weight: 600;
  margin: 7px 0;
}
