<div class="course-card-container">
  <div class="course-card-header">
    <div class="course-card-header-with-rated">
      <h1 class="h1">{{ course.title | uppercase }}</h1>
      <img src="assets/icons/star.svg" alt="img" class="icon star-icon" *ngIf="course.topRated" />
    </div>
    <section class="course-card-date-time-info">
      <div class="course-card-time-section course-card-section">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        {{ course.duration | duration }}
      </div>
      <div class="course-card-date-section course-card-section">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
        {{ course?.creationDate | date: 'dd/MM/yyyy'}}
      </div>
    </section>
  </div>
  <div class="course-card-content">
    <p class="course-card-description">{{ course.description }}</p>
    <div class="course-card-buttons">
      <button class="primary-button edit-btn" [routerLink]="['/courses', course.id]" (click)="editCourse()">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        Edit
      </button>
      <button class="primary-button delete-btn" (click)="deleteCourse()">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Delete
      </button>
    </div>
  </div>
</div>
