$borderColor: #abacad;
$bgContainer: #ffffff;

.course-card {
  &-container {
    border: 1px solid $borderColor;
    box-shadow: 0 0 10px $borderColor;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
    background: $bgContainer;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }

  &-description {
    width: 80%;
    margin: 0;
  }

  &-buttons {
    width: 20%;
    text-align: right;
  }
}

@media (max-width: 992px) {
  .course-card {
    &-content {
      display: flex;
      flex-wrap: wrap;
    }

    &-description {
      width: 100%;
    }

    &-buttons {
      width: 100%;
      margin-top: 15px;
      text-align: left;
    }
  }
}
