@import 'src/styles/main.scss';

.sumbit-buttons {
  &-main {
    display: flex;
    margin: 10px 0;
  }

  &-cancel {
    border-radius: 3px;
    background: map-get($app-primary-bg-palette, greyColor);
    padding: 12px 20px;
    color: map-get($app-primary-text, 200);
    border: 0;
    line-height: 12px;
    margin-right: 20px;
    letter-spacing: -0.1px;
    font-size: 12px;
    font-weight: 600;
  }

  &-confirm {
    border-radius: 3px;
    background: $bgGreenBtnColor;
    padding: 12px 20px;
    color: map-get($app-primary-text, whiteColor);
    border: 0;
    line-height: 12px;
    letter-spacing: -0.1px;
    font-size: 12px;
    font-weight: 600;
  }
}