@import 'src/styles/main.scss';

.page-not-found {
  &-main {
    @include page-size;
    background: map-get($app-primary-bg-palette, greyColor);
  }

  &-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
    
    img {
      width: 100%;
    }
  }

  
}