$bgWhiteColor: #ffffff;
$bgBlueBtnColor:  #009ecc;
$bgGreenBtnColor: #67a300;
$bgGreyColor: #303240;

$app-primary-text: (
  whiteColor: #ffffff,
  greyColor: #333333,
  100: #464a5a,
  200: #474a59,
);

$borderColorSearchInput: #ced0db;
$borderColorLightGrey: #abacad;
$borderColorWhite: #ffffff;

$app-primary-bg-palette: (
  mainColor: #ffffff,
  greyColor:  #d1cfcf60,
);