@import "src/styles/main.scss";

.course-authors {
  &-container {
    display: flex;
    flex-direction: column;
  }

  &-label {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
  }

  &-input {
    min-width: 2px;
    border: none;
  }
}

.chip-main {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #abacad;
  padding: 5px;
}

.chip {
  min-width: 20%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background-color: #e5e5e5;
  padding: 7px 14px;
  margin: 3px 4px;
  font-size: 14px;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  white-space: nowrap;
  align-items: center;
  border-radius: 16px;
}
.chip-content {
  cursor: inherit;
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0 5px;
}
