<div [formGroup]="authorFormGroup" class="course-authors-container">
  <label for="authors" class="course-authors-label"
    >Authors:<span>* required</span></label
  >
  <div class="chip-main">
    <div
      class="chip"
      formArrayName="authorsArray"
      *ngFor="let author of authorsArray?.controls; index as idx"
    >
      <input
        id="course-authors-input"
        class="chip-content course-authors-input"
        type="text"
        placeholder="Start typing"
        [formControlName]="idx"
      />
      <div class="chip-close" (click)="dropAuthor(idx)">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </div>
    </div>
    <select name="authorsOption" (change)="addAuthor($event)">
      <option value="" disabled selected>Please choose</option>
      <option *ngFor="let author of authorsList" [value]="author.id">
        {{ author.name }}
      </option>
    </select>
  </div>
</div>
