<div class="course-authors-container">
  <label for="authors" class="course-authors-label"
    >{{ 'courseAuthorPage.authors' | translate }}<span>{{ 'courseAuthorPage.required' | translate }}</span></label
  >
  <div class="chip-main">
    <div
      class="chip"
      *ngFor="let author of currentAuthorLists; index as indexArray"
    >
      <input
        id="course-authors-input"
        class="chip-content course-authors-input"
        type="text"
        placeholder="Start typing"
        [value]="author.name"
        [disabled]="true"
        required
      />
      <div class="chip-close" (click)="dropAuthor(indexArray)">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </div>
    </div>
    <select id="course-authors-list" name="authorsOption"  (change)="addAuthor($event)" #chooseAuthors>
      <option value="" disabled selected>{{ 'courseAuthorPage.pleaseChoose' | translate }}</option>
      <option *ngFor="let author of authorsList" [value]="author.id">{{author.name}}</option>
    </select>
  </div>
</div>
