@import 'src/styles/main.scss';

.login-buttons {
  &-authorization {
    display: flex;
  }
}

.user-login-btn {
  line-height: 24px;
  letter-spacing: 0;
  color: map-get($app-primary-text, whiteColor);
  font-size: 14px;
  border: 0;
  background: none;
}