$primaryBtnBgColor: #009ecc;
$primaryBtnTextColor: #ffffff;
$searchBtnBgColor: #67a300;
$mainTextColor: #474a59;
$titleColor: #333333;
$h4FontColor: #464a5a;

p {
  line-height: 18px;
  letter-spacing: 0;
  color: $mainTextColor;
  font-size: 14px;
}

.search-button {
  border-radius: 3px;
  background: $searchBtnBgColor;
  padding: 1px 15px;
  border: 0;
  color: $primaryBtnTextColor;
  line-height: 30px;
  letter-spacing: -0.08px;
  font-size: 14px;
  font-weight: 600;
  margin: 7px 0;
}

.primary-button {
  border-radius: 3px;
  background: $primaryBtnBgColor;
  padding: 5px 8px;
  color: $primaryBtnTextColor;
  border: 0;
  margin: 0 7px;
  line-height: 12px;
  letter-spacing: -0.1px;
  font-size: 12px;
  font-weight: 600;
}

.h1 {
  color: $titleColor;
  font-size: 24px;
  text-transform: none;
  font-weight: 600;
}

.h4 {
  line-height: 24px;
  letter-spacing: 0;
  color: $h4FontColor;
  font-size: 14px;
  font-weight: 700;
}

.user-login-btn {
  line-height: 24px;
  letter-spacing: 0;
  color: $primaryBtnTextColor;
  font-size: 14px;
  border: 0;
  background: none;
}
