<app-header>
  <login-buttons></login-buttons>
</app-header>
<div class="course-page-main">
  <breadcrumbs>
    <a href="#" class="breadcrumbs-text">Courses</a>
  </breadcrumbs>
  <div class="course-page-container">
    <div class="course-page-search">
      <course-search (search)="searchElement($event)"> </course-search>
    </div>
    <div class="course-page-newcourse">
      <button class="primary-button" routerLink="./new">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>Add course
      </button>
    </div>
    <course-lists
      [courseLists]="courses$ | async"
      (deleteCourse)="onDeleteCourse($event)"
      (loadMore)="onLoadMoreCourses()"
    >
    </course-lists>
  </div>
</div>

<spinner *ngIf="isLoading"></spinner>
