<app-header>
  <login-buttons></login-buttons>
</app-header>
<div class="course-page-main">
  <breadcrumbs>
    <a href="#" class="breadcrumbs-text">Courses</a>
  </breadcrumbs>
  <div class="course-page-container">
    <div class="course-page-search">
      <course-search (search)="searchElement($event)"> </course-search>
    </div>
    <course-lists
      [courseLists]="filteredCourses"
      (deleteCourse)="onDeleteCourse($event)"
    >
    </course-lists>
  </div>
</div>

<delete-modal
  [title]="titleModal"
  [description]="descriptionForModal"
  [isModalOpen]="showModal"
  (showDeleteModal)="hideModal()"
  (showDeleteModal)="confirmDelete()"
>
</delete-modal>
