<form
  [formGroup]="groupForms"
  (ngSubmit)="onSubmit()"
  class="new-course-forms-wrapper"
>
  {{ groupForms.value | json }}
  <div class="new-course-forms-title">
    <label for="title" class="new-course-forms-label"
      >{{ 'newCourseFormPage.title' | translate }}<span *ngIf="groupForms.get('name').errors?.required"
        >{{ 'newCourseFormPage.required' | translate }}</span
      >
      <span *ngIf="groupForms.get('name').errors?.maxlength"
        >{{ 'newCourseFormPage.maxLengthFifty' | translate }}</span
      >
    </label>
    <input
      type="text"
      id="new-course-forms-title"
      class="new-course-forms-input"
      placeholder="Text input"
      formControlName="name"
      required
    />
  </div>
  <div class="new-course-forms-description">
    <label for="description" class="new-course-forms-label"
      >{{ 'newCourseFormPage.description' | translate }}
      <span *ngIf="groupForms.get('description').errors?.required">
        {{ 'newCourseFormPage.required' | translate }}
      </span>
      <span *ngIf="groupForms.get('description').errors?.maxlength">
        {{ 'newCourseFormPage.maxLengthFiveHundred' | translate }}
      </span></label>
    <textarea
      id="new-course-forms-description"
      class="new-course-forms-textarea"
      placeholder="Add description"
      cols="30"
      rows="10"
      formControlName="description"
      required
    >
    </textarea>
  </div>
  <div class="new-course-forms-date-duration">
    <course-duration formControlName="length">
    </course-duration>
    <course-date formControlName="date"> </course-date>
  </div>
  <div class="new-course-forms-authors">
    <course-authors [authorsList]="authorsList" formControlName="authors"
    ></course-authors>
  </div>
  <div class="new-course-forms-submit-buttons">
    <div class="sumbit-buttons-main">
      <button
        id="new-forms-cancel"
        type="submit"
        class="sumbit-buttons-cancel"
        (click)="onCancel()"
      >
      {{ 'newCourseFormPage.cancel' | translate }}
      </button>
      <button
        id="new-forms-submit"
        type="submit"
        class="sumbit-buttons-confirm"
        [disabled]="!groupForms.valid"
      >
      {{ 'newCourseFormPage.submit' | translate }}
      </button>
    </div>
  </div>
</form>
